@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.site-header-top {
    padding-bottom: 10px;
    background-color: #F6F6F6;
    color: #4A4B4C;    
}
.site-header-top-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}
.site-header-logo {
    margin-right: 35px;
    padding: 9px 6px 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background-color: #FFFFFF;
    color: #7296EE;
    border-radius: 7px;
    text-decoration: none;
}
.currency-retes-item:not(:last-child){
    margin-right: 25px;
}
.currency-retes {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: auto;
    color: #555555;
}
.currency-retes-tayp {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2959CE;
}

/* global-search-form */

.global-search-form {
    margin-right: 25px;
}
.global-search-form-input{
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 13px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 60px;
    color: #8D8D8D;
}
*:focus{
    outline: 2px dashed #2959CE;
    outline-offset: 3px;
}

/* langue */

.site-header-langue {
    display: flex;
    margin-right: 25px;
    padding: 3px;
    border-radius: 39px;
    background-color: #DCE6FF;
    font-size: 13px;
}
.header-langue-link{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    color: #A6A6A6; 
    text-decoration: none;
}
.header-langue-link-active{
    background-color: #FFFFFF;
    color: #000;
}

/* buttom */

.buttom {
    padding: 13px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}
.buttom-prmariy {
    background-color: #7296EC;
    color: #FFFFFF;
    border-radius: 10px;
}

/* site-header-nav */

.site-header-nav{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D1D1D1;
}
.header-nav-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    color: #7F7F7F;
}
.nav-item{
    padding-top: 4px;
    padding-bottom: 4px;
}
.nav-item:not(:last-child){
    margin-right: 34px;
}
.nav-link{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
    text-decoration: none;
}
/* site-header-banner */
.site-header-banner{
    margin-top: 40px;
}
.site-header-banner-img{
    display: block;
    border-radius: 8px;
}
