@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.site-header-top {
    padding-bottom: 10px;
    background-color: #F6F6F6;
    color: #4A4B4C;    
}
.site-header-top-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}
.site-header-logo {
    margin-right: 35px;
    padding: 9px 6px 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background-color: #FFFFFF;
    color: #7296EE;
    border-radius: 7px;
    text-decoration: none;
}
.currency-retes-item:not(:last-child){
    margin-right: 25px;
}
.currency-retes {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: auto;
    color: #555555;
}
.currency-retes-tayp {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2959CE;
}

/* global-search-form */

.global-search-form {
    margin-right: 25px;
}
.global-search-form-input{
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 13px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 60px;
    color: #8D8D8D;
}
*:focus{
    outline: 2px dashed #2959CE;
    outline-offset: 3px;
}

/* langue */

.site-header-langue {
    display: flex;
    margin-right: 25px;
    padding: 3px;
    border-radius: 39px;
    background-color: #DCE6FF;
    font-size: 13px;
}
.header-langue-link{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    color: #A6A6A6; 
    text-decoration: none;
}
.header-langue-link-active{
    background-color: #FFFFFF;
    color: #000;
}

/* button */

.button {
    padding: 13px 20px;
    border: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}
.button:hover{
    opacity: 0.8;
}
.button:active{
    opacity: 0.6;
}
.button-prmariy {
    background-color: #7296EC;
    color: #FFFFFF;
    border-radius: 10px;
}
.button-orange{
    background-color: #F78B3B;
    color: #FFFFFF;
    border-radius: 10px;
}
.button-gray{
    padding: 17px;
    width: 100%;
    background: #EAEAEA;
    border-radius: 10px;
}

/* site-header-nav */

.site-header-nav{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D1D1D1;
}
.header-nav-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    color: #7F7F7F;
}
.nav-item{
    padding-top: 4px;
    padding-bottom: 4px;
}
.nav-item:not(:last-child){
    margin-right: 34px;
}
.nav-item:hover{
    opacity: 0.6;
}
.nav-link{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
    text-decoration: none;
}
.nav-link:hover{
    color: #7296EC;
}
/* site-header-banner */
.site-header-banner{
    margin-top: 40px;
}
.site-header-banner-img{
    display: block;
    border-radius: 8px;
}

/* Main content */
.site-main-content{
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 100px;
}

/* News-grid*/
.news-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-bottom: -10px;
}
.news-grid-item {
    width: 393px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.article-card {
    display: flex;
    flex-direction: column;
    padding: 20px 17px 15px;
    background-color: #F6F6F6;
    border-radius: 15px;
}
.article-card-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: 20px;
    font-weight: 500;
    line-height: 26px;
}
.article-card-link {
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.article-card-link:hover {
    color: #7296EC;
}
.article-card-link:active {
    opacity: 0.6px;
}
.article-card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}
.article-card-img{
    display: block;
    width: 360px;
    height: 165px;
    margin-top: auto;
    margin-bottom: 16px;
    border-radius: 10px;
    object-fit: cover;
}
.artical-card-footer {
    display: flex;
    align-items: center;
}
.artical-card-source-icone {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.artical-card-sourse-time {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}

/* Notification-cta */
.notification-cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px 25px 25px;
    margin: 60px 75px;
    border-radius: 10px;
    background-color: #ffd7ba;
}
.notification-cte-text{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

/* Global-news */
.global-news{
    flex-grow: 1;
    margin: 0;
    padding: 0;
}
.global-news-heading{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.global-news-list{
    margin-right: 10px;
    margin-top: 20px;
}
.global-news-artical-card {
    flex-grow: 1;
    display: flex;
    margin-bottom: 10px;
    padding: 20px 20px 20px 17px;
    border-radius: 15px;
    background-color: #F6F6F6;
}
.global-news-artical-card-img {
    display: block;
    width: 210px;
    height: 165px;
    margin-right: 15px;
    object-fit: cover;
}
.global-news-artical-card-titel {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.global-news-artical-card-link {
    text-decoration: none;
    color: #000000;
}
.global-news-artical-card-link:hover {
    color: #7296EC;
}
.global-news-artical-card-text {
    margin: 0;
    padding: 0;
    margin-bottom: 17px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}
.global-news-footer {
    display: flex;
    align-items: center;
}
.artical-card-sourc-icone{
    display: block;
    object-fit: cover;
    margin-right: 10px;
}

.leyout2-1{
    display: flex;
    align-items: flex-start;
}
.leyout2-1-main{
    width: 797px;
    margin-right: 10;
}
.leyuot2-1-sidebar{
    width: 393px;
    margin-top: 65px;
}
.leyout2-1-sidebar-item:not(:last-child) {
    margin-top: 10px;
}

/* sidebar-news-card */
.sidebar-news-card {
    padding: 20px;
    border-radius: 15px;
    background-color: #F6F6F6;
    color: #000;
}
.sitdebar-news-card-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.sidebar-card-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-card-item {
    padding-top: 20px;
    padding-bottom: 20px;
}
.sidebar-card-item:first-child{
    padding-top: 0;
}
.sidebar-card-item:last-child{
    padding-bottom: 0;
}
.sidebar-card-item:not(:last-child){
    border-bottom: 2px solid #D2D2D2;
}
.sidebar-card-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.sidebar-card-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.sidebar-card-link:hover{
    color: #7296EC;
}
.sidebar-card-source-time {
    font-size: 13px;
    line-height: normal;
    color: #5E5F61;
}

/* sidebar-add */
.leyout2-1-sidebar-add-item{
    margin-top: 10px;
}
.sidebar-add-img {
    width: 393px;
    height: 338px;
    border-radius: 15px;
    object-fit: cover;
}

/* site-footer */
.site-footer{
    background-color: #7297EF;
    color: #FFFFFF;
}
.site-footer-top {
    margin-left: 221px;
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #CECECE;
}
.footer-logo{
    margin-right: 168px;
    margin-bottom: 15px;
}
.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
}
.site-footer-text {
    width: 229px;
    height: 95px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
}
.site-footer-list {
    margin: 0;
    padding: 0;
    margin-right: 100px;
    margin-top: 40px;
    list-style: none;
}
.list-item {
    margin-bottom: 20px;
}
.list-link {
    text-decoration: none;
    color: #FFFFFF;
}
.site-footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 221px;
}
.site-footer-bottom-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
.site-bottom-img {
    width: 25px;
    height: 25px;
}
.site-bottom-img {
    margin-right: 25px;
}