@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
font-family: 'Rubik', sans-serif;
}
.site-header-top-color{
    padding: 43px 0 43px;
    background-color: #F6F6F6;
    color: black;
}
.container{
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.site-header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header-logo{ 
margin-right: 35px;    
padding: 9px 8px 6px;  
background-color: #FFFFFF;
border-radius: 7px;    
}
.logo{
    color: #7296EC;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center; 
}
.text-1{
    margin-right: 25px;
}
.text-2{
    margin-right: 247px;
}
.header-top-buttom{
    display: inline-block;
}
.link{
padding: 13px 20px;
background-color: #7296EC; 
color: black; 
border-radius: 10px;  
text-decoration: none;    
}
.site-header-nav{
padding-top: 30px;
margin-bottom: 20px;
}
.nav-list{  
display: flex;
align-items: center;
list-style: none;
padding: 0;
margin: 0;
flex-wrap: wrap; 
}
.nav-item{
font-style: normal;
font-weight: 500;
font-size: 17.2px;
line-height: 21px;
text-align: center;
}
.nav-item:not(:last-child){
margin-right: 34.44px;
}
.site-header-bottom-hr{
margin: 0;
padding: 0;
background-color: #D1D1D1;    
color: #D1D1D1;
}

/* site-main */

.main-hero-img{    
margin: 0;
padding: 0;
margin-top: 40px;   
width: 1200px;
height: 128px;
}

.main-hero-news{
    margin-right: -10px;
    margin-top: 50px;
 display: flex;
 align-items: center;
 flex-wrap: wrap;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #4A4B4C;
}
.hero-news-item{
    padding: 20px 18px 18px 17px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 393px;
    height: 382px;
    /* background-color: #F6F6F6; */
    background-color: #000000;
    border-radius: 15px;
}
.news-item-img{
    margin-bottom: 100px;
    border-radius: 10px;
    width: 360px;
    height: 165px;
}
.news-item-icons{
    margin-top: 15px;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
h2{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #000000;
}

a{
text-decoration: none; 
color: #7F7F7F; 
}