@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;

    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.site-header-top {
background-color: #F6F6F6;
color: #4A4B4C;    
}
.site-header-top-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}
.site-header-logo {
    margin-right: 35px;
    padding: 9px 6px 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background-color: #FFFFFF;
    color: #7296EE;
    border-radius: 7px;
}
.currency-retes-item:not(:last-child){
    margin-right: 25px;
}
.currency-retes {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: auto;
    color: #555555;
}
.currency-retes-tayp {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2959CE;
}
.header-top-search {
    margin-right: 25px;
}
.site-header-langue {
    margin-right: 25px;
    /* width: 70px;
    height: 36px;
    text-align: center;
    border-radius: 39px;
    background-color: #DCE6FF;
    color: #A6A6A6; */
}
/* .header-langue-link-active{
    margin-right: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #000000;
}
.header-langue-link{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #A6A6A6;
} */
.buttom {
    padding: 13px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.buttom-prmariy {
    background-color: #7296EC;
    color: #FFFFFF;
    border-radius: 10px;
}

/* site-header-bottom */

.header-nav-list{
    display: flex;
    
    align-items: center;
    list-style: none;
    color: #7F7F7F;
}
.nav-item:not(:last-child){
    margin-right: 34px;
}
.nav-item{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
}

img{
    display: flex;
}
a{
    text-decoration: none;
}